@import "../variables";
.ant-select-selection {
  outline-color: var(--primary-color);
}

.ant-select-selection:hover {
  border-color: var(--primary-color);
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: var(--primary-color);
  -webkit-box-shadow: 0 0 0 2px rgba($primary-color-light, 0.2);
  box-shadow: 0 0 0 2px rgba($primary-color-light, 0.2);
}

.ant-select-open .ant-select-selection {
  border-color: var(--primary-color);
}
.ant-select-dropdown.ant-select-dropdown--multiple
  .ant-select-dropdown-menu-item-selected
  .ant-select-selected-icon,
.ant-select-dropdown.ant-select-dropdown--multiple
  .ant-select-dropdown-menu-item-selected:hover
  .ant-select-selected-icon {
  color: var(--primary-color);
}
