$primary-color: #a901db;
$primary-color-dark: #7e2d7b;
$primary-color-light: #f8e0f7;

$secondary-color: #04b4ae;
$secondary-color-light: #effbfb;

$white-color: #ffffff;

$dark-color-1: #333;
$dark-color-2: #555;
$dark-color-3: #777;

$gray-border-thin: 1px solid #ccc;
$gray-border-thick: 2px solid #ccc;
