.Drawer {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.Panel {
}

.LeftPanel {
}

.RightPanel {
  flex: 1;
}

.Splitter {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 14px;
  border: 1px solid #cccccc;
  cursor: col-resize;
  span {
    width: 1px;
    background-color: #cccccc;
  }
  .Thick {
    width: 2px;
  }
}
